<!DOCTYPE html>
<html>
  <head>
    <title>MyBars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <img src="/images/logo-mybars.png" alt="logo-mybars" class="logo">
      <% if (user) { %> 
      <form method="post" action='/auth/logout'>
        <button>Logout</button>
      </form>
    <%}%>
    </header>
      <div class="maincontainer">
    <%- body %>
      </div>
    <footer>I am the footer</footer>
  </body>
</html>
