<!DOCTYPE html>
<html>
  <head>
    <title>MyBars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600" rel="stylesheet">
  </head>
  <body>
    <header>
        <img src="/images/logo-mybars.png" alt="logo-mybars" class="logo">
          <div class="login-signup-container">
              <% if (!user) { %> 
                <a href='/auth/login'>Login</a>
                <a href='/auth/signup'>I have a bar</a>
            <%}%>
          <% if (user) { %> 
            <form method="post" action='/auth/logout'>
              <button>Logout</button>
            </form>
          <%}%>
         </div>
      <div class="maincontainer">
    <%- body %>
      </div>
      <div id="info" class="bar-info-container"></div>
    <footer></footer>
  </body>
</html>
