<!DOCTYPE html>
<html>
  <head>
    <title>MyBars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>I am the header</header>
    <a href='/'><button>Home</button></a>

      <div class="maincontainer">
    <%- body %>
      </div>
    <footer>I am the footer</footer>
  </body>
</html>
