body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(27, 17, 163);
}

.maincontainer {
  background-color: rgb(150, 190, 39);
  height: 300px;
}

.error {
  color: red;
}