
    <h1>Home Page</h1>

    <a href='/map'><button>Search a Bar</button></a>
    <% if (!user) { %> 
        <a href='/auth/login'><button>Log In</button></a>
        <a href='/auth/signup'><button>I have a Bar</button></a>
    <%}%>
    <% if (user) { %> 
        <a href='/bar/profile'><button>My Profile</button></a>
    <%}%>


