<a href='/'><button>Home</button></a>
    <h1>Map</h1>
    <% if (user) { %> 
        <a href='/bar/profile'><button>My Profile</button></a>
    <%}%>
    <div id="map"></div>
    <div id="info" class="bar-info-container"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHO4Ne2WFbA6IEdXP_XwzyhlvE0QphapU"></script>
    <script type="text/javascript"> var myBars = <%- JSON.stringify(bars) %>; </script>
    <script type="text/javascript" src="/javascripts/main.js"> </script>


   <!-- //inner HTML 

   '<div class="characteristics">
        <ul>
            <il><strong>Bar´s Name : </strong>' + myBars[i].barname'</il>
            <il><strong>Price Beer 50cl : </strong>' + myBars[i].price'</il>
            <il><strong>Address : </strong>' + myBars[i].address'</il>
            <il><strong>hours : </strong>' + myBars[i].hours'</il>
        </ul>
        <p><strong>Description :</strong></p>
        <p>' + myBars[i].description'</p>
    </div>
    <div class="photobar">
        <button class="delete-bar-info">X</button>
photo
    </div>' -->

