<h2>Profile information</h2>

<!--<p>User Name <%= data.username %></p>
<p>Hidden Password </p>
<p>Name of the bar <%= data.barname %></p>
<p>Price <%= data.price %></p>
<p>Adress <%= data.location %></p>   -->





